@import "tailwindcss";

@theme inline {
  --color-background: #4f0715;
  --color-rosa: #eab1b9;
  --color-vinho: #3c010b;
  --color-vermelho: #781728;

  --font-roboto: var(--font-roboto);
  --font-bobo: var(--font-bobo), cursive;
  --font-awe: var(--font-awe);
  --font-bigS: var(--font-bigS);

  --drop-shadow-sombra: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

body {
  background: var(--color-background);
  color: var(--color-rosa);
  font-family: Arial, Helvetica, sans-serif;
}
